/* styles.css */
*{
color: #503d39;
font-family: 'Poppins', sans-serif;
}

body {
      font-family: 'Poppins', sans-serif;
      background-color: #57d0af;
    }

.card {
  border-radius: 10px;
}
.delete-icon {
      padding-left: 20px;
      float: right;
      color: rgb(225, 36, 36); 
    }
.container {
  padding: 20px;
  background-color: #faeadb;
}

h1 {
  color: #503d39;
  font-size: 32px;
  font-weight: bold;
}

h2 {
  color: #503d39;
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

form {
  margin-top: 20px;
}



#dataContainer p {
  font-size: 20px;
  margin-bottom: 5px;
  margin: 10px;
  margin-top: 20px;

}


@media (max-width: 576px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }
}
/* Add custom CSS for the action buttons */
.btn-form {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #57d0af;
  color: white;
}
.btn {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #57d0af;
  color: white;
}

.btn .delete-icon {
  margin-right: 8px;
   /* Add some spacing between the delete icon and the "Selesai" button */
}

.keterangan {
  color: red;
}

/* Styling for the checkmark */
.checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px;
}
